/*==================================
            Colors
==================================*/

$primary-color: #23a6f0;
$secondary-color-1: #40bb15;
$secondary-color-2: #3c403d;
$text-color: #252b42;
$secondary-text-color: #737373;
$light-text-color: #ffffff;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
$light-gray-1: #fafafa;
$light-gray-2: #ececec;
$background-fill: #fafafa;
$card-stroke: #e9e9e9;
